<% goals = (defined?(gls)) ? gls : {} %>
<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="circleStatsItem" style="color: <%= goals['fitness_color'] %>">
    <i class="fa fa-leaf"></i>
    <span class="percent">%</span>
    <input type="text" value="<%= goals['fitness'] %>" class="fitness_goal"/>
  </div>
  <div class="box-small-title">met the fitness goal</div>
</div>
<!--/col-->

<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="circleStatsItem" style="color: <%= goals['weight_color'] %>">
    <i class="fa fa-heart"></i>
    <span class="percent">%</span>
    <input type="text" value="<%= goals['weight'] %>" class="weight_goal"/>
  </div>
  <div class="box-small-title">met the weigh ins goal</div>
</div>
<!--/col-->

<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="circleStatsItem" style="color: <%= goals['bp_color'] %>">
    <i class="fa fa-fire"></i>
    <span class="percent">%</span>
    <input type="text" value="<%= goals['bp'] %>" class="blood_pressure_goal"/>
  </div>
  <div class="box-small-title">met the BP measures goal</div>
</div>
<!--/col-->

<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="circleStatsItem" style="color: <%= goals['servings_color'] %>">
    <i class="fa fa-location-arrow"></i>
    <span class="percent">%</span>
    <input type="text" value="<%= goals['servings'] %>" class="servings_goal"/>
  </div>
  <div class="box-small-title">met the servings goal</div>
</div>
<!--/col-->

<script>


  $(document).ready(function(){

    if ($.browser.msie  && parseInt($.browser.version, 10) === 8) {

    } else {

      $(".fitness_goal").knob({
        'min':0,
        'max':100,
        'readOnly': true,
        'width': 200,
        'height': 200,
        'fgColor': '<%= goals['fitness_color'] %>',
        'dynamicDraw': true,
        'thickness': 0.2,
        'tickColorizeValues': true,
        'skin':'tron'
      });

      $(".weight_goal").knob({
        'min':0,
        'max':100,
        'readOnly': true,
        'width': 200,
        'height': 200,
        'fgColor': '<%= goals['weight_color'] %>',
        'dynamicDraw': true,
        'thickness': 0.2,
        'tickColorizeValues': true,
        'skin':'tron'
      });

      $(".blood_pressure_goal").knob({
        'min':0,
        'max':100,
        'readOnly': true,
        'width': 200,
        'height': 200,
        'fgColor': '<%= goals['bp_color'] %>',
        'dynamicDraw': true,
        'thickness': 0.2,
        'tickColorizeValues': true,
        'skin':'tron'
      });

      $(".servings_goal").knob({
        'min':0,
        'max':100,
        'readOnly': true,
        'width': 200,
        'height': 200,
        'fgColor': '<%= goals['servings_color'] %>',
        'dynamicDraw': true,
        'thickness': 0.2,
        'tickColorizeValues': true,
        'skin':'tron'
      });
    }
  });
</script>

<style>
  .box-small-title {
    font-weight: bold;
    font-size: 20px;
  }
</style>