<% movers = sys_dia_movers.nil? ? [] : sys_dia_movers %>
<% movers.each do |mover|  %>
      <div class="row" style="margin: 5px;">
        <div class="col-xs-12 col-sm-8">
          <img src="http://www.peopleplacers.co.uk/wp-content/uploads/2012/07/business-people1.jpg" width="25" height="25">
            <span style="color: #555555;" title="<%= mover['name'] %>">
              <%= truncate(mover['name'], length: 18) %>
            </span>
        </div>
        <div class="col-xs-12 col-sm-2 <%= mover['color'] %>">
          <%= mover['amount'].to_i.abs %>
        </div>
        <div class="col-xs-12 col-sm-2" style="color: #e75735">
        <span class="<%= mover['amount'].to_i < 0 ? 'arrow-s' : 'arrow-n' %>" style="font-size:1em;"></span>
    </div>
  </div>
<% end %>     