<% avg_wt_bmi = (defined?(wt_bmi)) ? wt_bmi : {} %>
<div class="row">
  <div class="col-sm-4 avg_wght_fat_div">
    <div class="row">
      <div class="col-sm-12" style=" text-align: center;line-height: 15px;">
        <h5 style="font-weight: bold;font-size: 15px;">AVG. WEIGHT</h5>
              <span style="font-size: 30px; color: #555555">
                <%= avg_wt_bmi['avg_wght'] %>
              </span>
        lbs
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style=" text-align: center;line-height: 15px;margin-top: 2%">
        <h5 style="font-weight: bold;font-size: 15px;">AVG. BODY FAT</h5>
              <span style="font-size: 30px; color: #555555">
                <%= avg_wt_bmi['avg_bmi'] %>%
              </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style=" text-align: center;line-height: 15px;margin-top: 2%">
        <h5 style="font-weight: bold;font-size: 15px;">AVG. BMI</h5>
              <span style="font-size: 30px;" class="well-yellow">
                <%= avg_wt_bmi['avg_bfat'] %>%
              </span>
      </div>
    </div>

  </div>
  <div class="col-sm-8 wght_bmi_mover">
    <h5 style="font-weight: bold; text-align: center;font-size: 16px;">Biggest Movers</h5>
    <div class="row">
      <div class="col-xs-6" style="text-align: right; font-size: 15px;">
        <%= link_to 'weight', '#', class: 'wt_toggle' %>
      </div>
      <div class="col-xs-6" style="text-align: left; font-size: 15px;">
        <%= link_to 'bmi', '#', class: 'bmi_toggle', style: 'color: #E2E2E2' %>
      </div>
    </div>

    <div class="avg_wt_movers">
      <%= render partial: '/home/index/sub_avg_wt_bmi_toggle', locals: { wt_bmi_movers: avg_wt_bmi['weight_movers'] } %>
    </div>

    <div class="avg_bmi_movers" style="display: none;">
      <%= render partial: '/home/index/sub_avg_wt_bmi_toggle', locals: { wt_bmi_movers: avg_wt_bmi['bmi_movers'] } %>
    </div>

  </div>
</div>


<script>


  function wght_bmi_ht(){
    var avg_wght_bmi = $('.avg_wght_fat_div');
    var wght_bmi_mover = $('.wght_bmi_mover').outerHeight();
    var avg_ht = avg_wght_bmi.outerHeight();

    if(wght_bmi_mover > avg_ht){
      var rem_ht = (wght_bmi_mover - avg_ht)/2;
    
        if ($(window).width() > 753) {
          avg_wght_bmi.css('margin-top', rem_ht+'px');
          avg_wght_bmi.css('margin-bottom', rem_ht+'px');
        } else {
          avg_wght_bmi.css('margin-top', '0');
          avg_wght_bmi.css('margin-bottom', '0');
        }
      }
    }
  $(window).resize(wght_bmi_ht);
  wght_bmi_ht();


  $('.wt_toggle').on('click', function(){
    $('.avg_wt_movers').show();
    $('.avg_bmi_movers').hide();
    $('.bmi_toggle').css('color', '#E2E2E2');
    $('.wt_toggle').css('color', '#646464;');
    return false
  });
  $('.bmi_toggle').on('click', function(){
    $('.avg_wt_movers').hide();
    $('.avg_bmi_movers').show();
    $('.wt_toggle').css('color', '#E2E2E2');
    $('.bmi_toggle').css('color', '#646464;');
    return false
  });
</script>