<!DOCTYPE html>
<html>
  <head>
    <title>Wellness - Sign Up %></title>
    <%= stylesheet_link_tag "session", 
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "session", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
	<div class="row">
	  <img alt="wellness" src="/assets/signup.png"/>
      <%= form_for(@user) do |f| %>
	    <%= render 'shared/error_messages' %>
		<div class="span4 offset1" style="margin-bottom: 20px;">
			  <p class="p_title">  Account information </p>
			  <%# f.label :name %>
			  <%# f.text_field :name %>
			  <%# f.label :email %>
			  <%# f.text_field :email %>
			  <%# f.label :password %>
			  <%# f.password_field :password %>
			  <%# f.label :password_confirmation, "Confirmation" %>
			  <%# f.password_field :password_confirmation %>
			  <%= f.text_field :email, hide_label: true, class: 'form-control', placeholder: ' email address' %>
			  <%= f.text_field :email_confirmation, hide_label: true, class: 'form-control', placeholder: ' confirm email address' %>
			  <%= f.password_field :password, class: 'form-control', placeholder: ' password' %>
			  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: ' confirm password' %>
		</div>
	    <hr  noshade size=3 width=800px>
		<div class="span7 offset1">
		  <p class="p_title">  Profile information </p>	  
		  <upload>
			<img alt="wellness" src="/assets/user.png"/>
		  </upload>
		  <upload>
			<button type="button">UPLOAD PHOTO</button>
		  </upload>
		  <div style="margin-top: 30px;">
			<%= f.text_field :firstname,   style: 'width:200px', placeholder: ' first name' %> 
			<%= f.text_field :lastname,  style: 'width:200px', placeholder: ' last name'  %> 
		  </div>
		  <%= f.text_field :hospitalname,   style: 'width:300px', placeholder: ' hospital/clinic name' %>
		  <div>
			  <%= f.text_field :add1, style: 'width:400px', placeholder: ' hospital/clinic address' %>
			  <%= f.text_field :add2, style: 'width:45px', placeholder: 'state' %>
			  <%= f.text_field :add3, style: 'width:65px',  placeholder: 'zipcode' %>
		  </div>
	      <p class="p_title">  phone </p>	  
		  <div>
		  <%= f.text_field :phone1, style: 'width:45px' %>
		  <%= f.text_field :phone2, style: 'width:45px' %>
		  <%= f.text_field :phone3, style: 'width:60px' %>
		  </div>
		  <%= f.submit "CREATE ACCOUNT", class:'submit_button', style: 'width:300px'%>
		</div> 
    <% end %>
	</div>
    </div>
  </body>
</html>
