<div id="content" class="col-sm-12">
  <div class="row" style="margin: 0 5%;">
    <!--biometrics-->
    <% biometrics = @patient[:biometrics] %>
    <br>
    <!--risks-->
    <% risks = @patient[:risks] %>
    <br>
    <!--user-->
    <% user = @patient[:user] %>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6 we-image">
        <div class="" style="">
          <div class="btn-toolbar " role="toolbar" style="">
            <%= image_tag '/assets/patient.png', style: 'width: 200px;' %>
            <div class="btn-group stat-calender-tab" style="width: 200px;">
              <!--<button type="button" class="btn btn-success">STATS</button>-->
              <!--<button type="button" class="btn btn-success">CALENDAR</button>-->
              <!--<br>-->
              <a class="we-stat active" href="#">STATS</a>
              <a class="we-cal" href="#">CALENDAR</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-xs-6 we-profile">
        <%= render partial: '/home/patient/profile', locals: { user: user } %>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12 height_weight" style="min-width: 209px;">
        <%= render partial: '/home/patient/height_weight', locals: { risks: risks, biometrics: biometrics } %>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12 depression_medication" style="min-width: 209px;">
        <div class="row">


          <div class="col-md-12 col-sm-12 col-xs-12 we-box">
            <div id="medication_partial">
              <%= render partial: '/home/patient/medication', locals: {medications: []} %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="stats_partial">
      <%= render partial: '/home/patient/stats', locals: {biometrics: biometrics, risks: risks, user: user, we_colors: @colors} %>
    </div>

    <div id="calendar_partial"></div>
  </div>
</div>

<script>

  $(function () {
    $('.we-stat').on('click', function(e){
      e.preventDefault();
      $(this).addClass('active');
      $('.we-cal').removeClass('active');
      $('#stats_partial').show();
      $('#calendar_partial').hide();
      return false
    });

    $('.we-cal').on('click', function(e){
      e.preventDefault();
      $(this).addClass('active');
      $('.we-stat').removeClass('active');
      cal = $('#calendar_partial');
      if (cal.html() != ''){
        cal.show();
      } else {
        cal.load('/home/calendar?eid=P' + params['id']);
      }
      $('#stats_partial').hide();
      return false
    });
  });

  $(document).ready(function () {

    var id = params['id'];
    $('#fitness_partial').load('/home/fitness?id=' + id);
    $('#diet_partial').load('/home/diet?id=' + id);
    $('#medication_partial').load('/home/medication?id=' + id);
    $('#targets_partial').load('/home/targets?id=' + id);
    $.get('/home/flot_charts?id=' + id);

  });

</script>