<% blood_pressure = (defined?(bld_pressure)) ? bld_pressure : {} %>
<div class="box">
  <div class="we-title">
    Blood Pressure
  </div>
  <div class="we-content">
    <div class="box">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#sys" data-toggle="tab" style="font-size: 12px; color: #CCCCCC; text-align: center">
              <span style="font-size: 28px;" class="<%= blood_pressure['bps_color'] %>">
                <%= blood_pressure['systolic'] %>
                <i class="fa fa-chevron-down"></i>
              </span>
            <br>
            mg/dl &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li>
          <a href="#dias" data-toggle="tab" style="font-size: 12px; color: #CCCCCC; text-align: center">
            <span style="font-size: 28px;" class="<%= blood_pressure['bpd_color'] %>">
              <%= blood_pressure['diastolic'] %>
              <i class="fa fa-chevron-up"></i>
            </span>
            <br>
            mg/dl &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="sys" class="tab-pane active">
          <div class="box">
            <div id="bps_graph" class="center" style="height:250px;width: 100%" ></div>
          </div>
        </div>
        <div id="dias" class="tab-pane">
          <div id="bpd_graph" class="center" style="height:250px;width: 100%"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  bps_data = <%= blood_pressure['bps_data'] %>;
  bpd_data = <%= blood_pressure['bpd_data'] %>;
  var data = [[1, 100], [2, 120], [3, 200], [4, 400], [5, 300]];
  console.log(bps_data);
  console.log(bpd_data);

  var bps_graph = $('#bps_graph');
  var bpd_graph = $('#bpd_graph');

  function bps_bpd_graph(id, data){
    $.plot(id, [{ data: data,  color: '#a9d248' }], {
      series: {
        lines: {
          show: true,
          lineWidth: 2
        },
        points: { show: true },
        shadowSize: 2
      },

      grid: {
        hoverable: true,
        clickable: true,
        tickColor: "#dddddd",
        borderWidth: 0,
        color: '#fff',
        axisMargin: false
      },
      xaxis: {
        tickLength: 0,
        show: false,
        tickDecimals: 0
      },
      yaxis: {
        min: -1.2,
        tickLength: 0,
        font: { color: '#B1B1B1' },
        tickDecimals: 0
      }//,
//      colors: ["#FA5833", "#2FABE9"]
    });
  }

  bps_bpd_graph(bps_graph, bps_data);
  bps_bpd_graph(bpd_graph, bpd_data);
//  bps_bpd_graph(bps_graph, data);

</script>
