<p style="text-transform:uppercase;">
  <%= "#{user['owner_first_name']} #{user['owner_last_name']}" %>
  <!--NELSUN CHU-->
</p>
<p>
  <i class="fa fa-comment"></i>
  <i class="fa fa-calendar"></i>
</p>
<p>
  <%= user['owner_home_address'] %>
  <!--123 Bushwick Ave-->
  <br>
  <%= user['owner_city'] %>
  <!--Brooklyn, NY 11211-->
</p>
<p>
  <%= "#{user['owner_state']}, #{user['owner_zip']}" %>
</p>
<p>
  <%= user['owner_home_phone'] %>
  <!--(908)123-9876-->
</p>
<p>
  <%= user['owner_work_phone'] %>
</p>