<div class="row">
  <div style="text-align: center; margin: 10px 0 0 0;">
    <img alt="Dropshadow" src="/assets/dropshadow.png" style="width: 80%; height: 7px;">
  </div>
</div>

<div class="row" style="color: #868686">
  <div id="targets_partial">
    <%= render partial: '/home/patient/targets', locals: {targets: {}} %>
  </div>
</div>

<div class="row">
  <div style="text-align: center; margin: 10px 0 0 0;">
    <img alt="Dropshadow" src="/assets/dropshadow.png" style="width: 80%; height: 7px;">
  </div>
</div>


<div class="row">

  <div class="col-md-3 col-sm-6 fitness we-box" style="">
    <div id="fitness_partial">
      <%= render partial: '/home/patient/fitness' %>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 diet we-box"  style="">
    <div id="diet_partial">
      <%= render partial: '/home/patient/diet' %>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 weight_bmi we-box" style="">
    <div id="weight_bmi_partial">
      <%= render partial: '/home/patient/weight_bmi' %>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-md-4 col-sm-6 cholesterol we-box">
    <%= render partial: '/home/patient/cholesterol', locals: {biometrics: biometrics, risks: risks, user: user, we_colors: @colors} %>
  </div>

  <div class="col-md-4 col-sm-6 blood_sugar we-box">
    <div id="blood_sugar_partial">
      <%= render partial: '/home/patient/blood_sugar', locals: { } %>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 blood_pressure we-box">
    <div id="blood_pressure_partial">
      <%= render partial: '/home/patient/blood_pressure', locals: { } %>
    </div>
  </div>

</div>