<div class="col-md-2 col-sm-12 col-xs-12 we-target">
  TARGETS
  <i class="fa fa-pencil"></i>
</div>
<div class="col-md-2 col-sm-6 col-xs-12 we-target">
  <span class="val">
    <%= targets['Minutes'] %>
  </span>
  <span class="name">
    active minutes/week
  </span>
</div>

<div class="col-md-1 col-sm-6 col-xs-12 we-target">
  <span class="val">
  <%= targets['WGHT'] %>
  </span>
  <span class="name">
    weight in weeks
  </span>
</div>

<div class="col-md-2 col-sm-6 col-xs-12 we-target">
  <span class="val">
    <%= targets['BP'] %>
  </span>
  <span class="name">
    blood pressure
    measurements/week
  </span>
</div>

<div class="col-md-2 col-sm-6 col-xs-12 we-target">
  <span class="val">
    <%= targets['Fruit'] %>
  </span>
  <span class="name">
    avg fruit
    servings/day
  </span>
</div>

<div class="col-md-2 col-sm-6 col-xs-12 we-target">
  <span class="val">
    <%= targets['Veg'] %>
  </span>
  <span class="name">
    avg vegs
    servings/day
  </span>
</div>