<!DOCTYPE html>
<html>
<head>
    <title>Wellness Sign in</title>
	<link rel="stylesheet" type="text/css" href="/assets/session.css" />
    <%# stylesheet_link_tag "sessions", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "sessions", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
	 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
	 <div>
		<%= image_tag asset_path("portal.png") %>
		<br>
		<br>
			<div class="col-md-4 col-md-offset-4">
			<%= form_for(:session, url: sessions_path) do |f| %>
			<div><%= f.text_field :email, placeholder: '  email address' %></div>
			<div><%= f.password_field :password, placeholder: '  password' %></div> 
			<label>
            <%= f.check_box :remember_me %> remember me
			</label>
 			<div><%= f.submit "SIGN IN", class:'submit_button'%></div>
			<% end -%>
			<p>new to wellness? <%= link_to "create an account",  signup_path, style: 'color:#99FF66' %></p></div>
		</div>
	</div>
  </div>
</body>
</html>


